# Keep kotlinx.serialization classes (they're accessed via reflection/generated code)
-keepattributes *Annotation*, InnerClasses
-dontnote kotlinx.serialization.AnnotationsKt

-keepclassmembers class kotlinx.serialization.json.** {
    *** Companion;
}
-keepclasseswithmembers class kotlinx.serialization.json.** {
    kotlinx.serialization.KSerializer serializer(...);
}

-keep,includedescriptorclasses class __APPLICATION_ID__.**$$serializer { *; }
-keepclassmembers class __APPLICATION_ID__.** {
    *** Companion;
}
-keepclasseswithmembers class __APPLICATION_ID__.** {
    kotlinx.serialization.KSerializer serializer(...);
}
